<!DOCTYPE html>
<html>

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>Offer Help - Battle Creek, Michigan</title>

    <script src="/assets/library/jquery.min.js"></script>
    <script src="/assets/library/semantic.js"></script>

    <link rel="stylesheet" type="text/css" class="ui" href="/assets/library/css/semantic.css">
    <link rel="stylesheet" type="text/css" href="/assets/library/components/emoji.css">
    <link rel="stylesheet" type="text/css" href="/assets/library/components/icon.css">
    <link rel="stylesheet" type="text/css" href="/assets/library/components/calendar.css">
    <link rel="stylesheet" type="text/css" href="/assets/library/components/popup.css">
    <link rel="stylesheet" type="text/css" href="/assets/library/components/transition.css">
    <link rel="stylesheet" type="text/css" href="/assets/library/components/checkbox.css">

    <link rel="stylesheet" type="text/css" href="/assets/library/css/main2.css">

    <script>
        $(document)
            .ready(function () {

                // create sidebar and attach to menu open
                $('.ui.sidebar')
                    .sidebar('attach events', '.big.launch');

                $('.ui.sticky')
                    .sticky();

                $('.ui.calendar').calendar({
                    type: 'datetime'
                });

                $('#request-help-form')
                    .form({
                        on: 'blur',
                        fields: {
                            firstName: {
                                identifier: 'first-name',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Please enter your first name'
                                    }
                                ]
                            },
                            lastName: {
                                identifier: 'last-name',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Please enter your last name'
                                    }
                                ]
                            },
                            phoneNumber: {
                                identifier: 'phone-number',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Please enter your phone number'
                                    }
                                ]
                            },
                            emailAddress: {
                                identifier: 'email-address',
                                rules: [
                                    {
                                        type: 'email',
                                        prompt: 'Please provide a valid email address'
                                    }
                                ]
                            },
                            offerHelpReason: {
                                identifier: 'help-request-reason',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Please provide the reason why you are offering help'
                                    }
                                ]
                            },
                            agreeToBeContacted: {
                                identifier: 'agree-to-be-contacted',
                                rules: [
                                    {
                                        type: 'checkbox',
                                        prompt: 'Please consent to being contacted'
                                    }
                                ]
                            }

                        }
                    })
                    ;
            });
    </script>
</head>

<body class="basic minimal" ontouchstart="">

    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu" id="toc">
        <a class="item active">
            Battle Creek, Michigan <br/> Networked.Community
        </a>
        <a class="item" href="/index.html"><i class="home icon"></i> Home</a>
        <a class="item" href="/request-help.html"><i class="warning red icon"></i> Request Help</a>
        <a class="item active"><i class="heart pink icon"></i> Offer Help</a>
        <a class="item" href="/resource-guide.html"><i class="book blue icon"></i> Resource Guide</a>
        <div class="menu">
            <a class="item" href="/covid-19.html"><em data-emoji=":mask:"></em> COVID-19</a>
            <a class="item" href="#"><em data-emoji=":medical_symbol:"></em> Health and Medical</a>
            <a class="item" href="#"><em data-emoji=":brain:"></em> Mental Health</a>
            <a class="item" href="#"><em data-emoji=":bread:"></em> Food</a>
            <a class="item" href="#"><em data-emoji=":roll_of_paper:"></em> Necessities</a>
            <a class="item" href="#"><em data-emoji=":homes:"></em> Housing and Shelter</a>
            <a class="item" href="#"><em data-emoji=":construction_worker_tone3:"></em> Income and Employment</a>
            <a class="item" href="#"><em data-emoji=":military_medal:"></em> Service Members and Veterans</a>
            <a class="item" href="#"><em data-emoji=":warning:"></em> Crisis and Emergency</a>
            <a class="item" href="#"><em data-emoji=":older_man:"></em> Aging and Senior Services</a>
            <a class="item" href="#"><em data-emoji=":family_mwgb:"></em> Children and Families</a>
            <a class="item" href="#"><em data-emoji=":books:"></em> Education</a>
            <a class="item" href="#"><em data-emoji=":scales:"></em> Legal Services</a>
            <a class="item" href="#"><em data-emoji=":bus:"></em> Transporation</a>
            <a class="item" href="#"><em data-emoji=":octagonal_sign:"></em> Addictions</a>
            <a class="item" href="#"><em data-emoji=":wheelchair:"></em> Disability Services</a>
        </div>

        <a class="item" href="/organization-directory.html"><i class="list icon right"></i> Community Directory</a>
    </div>

    <div class="ui black big launch right attached fixed button">
        <i class="content icon"></i>
        <span class="text">Menu</span>
    </div>

    <!-- Page Contents -->
    <div class="pusher">

        <div class="ui center aligned segment">
            <h1 class="ui icon header">
                <i class="circular pink heart icon"></i>
                Offer Help in the Battle Creek, Michigan Area
            </h1>

            <h2 class="ui header">
                We're all in this together. Thanks for offering your help!
            </h2>

        </div>

        <div class="ui container raised segment">
            <div class="ui two column stackable middle aligned grid">
                <div class="left aligned row">
                    <div class="two wide column">
                        <a href="https://www.mi211.org/" target="_blank" rel="nofollow"><img
                                src="assets/images/211mich.svg" alt="211 Michigan"
                                class="ui tiny aligned middle left floated image" /></a>
                    </div>
                    <div class="fourteen wide column">
                        <h3><a href="https://www.mi211.org/" target="_blank" rel="nofollow">United Way's 211</a>
                            connects you with all kinds of organizations that need help, right in your community </h3>
                    </div>
                </div>
            </div>

        </div>

        <div class="ui placeholder container segment">
            <div class="ui two column stackable center aligned grid">
                <div class="ui vertical divider">Or</div>
                <div class="middle aligned row">
                    <div class="column">
                        <div class="ui icon header">
                            <i class="phone icon"></i>
                            <a class="ui button primary" href="tel:211">
                                Call 211
                            </a>
                        </div>
                        <div class="ui container">
                            <p>
                                If you're offering help, 211 is a vital service available 24/7/365 to connect you to the
                                right organizations that need it, like
                                homeless shelters and food pantries.<br />
                                TTY: 800-250-5628
                            </p>
                        </div>
                    </div>

                    <div class="column">
                        <div class="ui icon header">
                            <i class="mobile icon"></i>
                            <a href="sms:898211" class="ui button secondary">Text 898-211</a>
                        </div>
                        <div class="ui text">
                            <p>
                                Simply text your zipcode to 989-211, and follow the instructions.<br />
                                <a href="https://www.mi211.org/about-2-1-1/text-chat" target="_blank">Availability and
                                    hours vary</a> from regional center to regional center.<br />
                                *Standard text messaging rates may apply
                            </p>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="ui horizontal divider">
            Or
        </div>

        <div class="ui container">
            <h2 class="ui header">
                These local organizations could use your help!
            </h2>
        </div>

        <div class="ui horizontal divider"></div>

        <div class="ui cards three stackable container segment">

            <div class="ui card">
                <div class="image">
                    <img src="/assets/images/Share-Logo.jpg">
                </div>
                <div class="content">

                    <div class="header">
                        SHARE Center
                    </div>
                    <div class="meta">
                        Self Help Awareness Recovery &amp; Enrichment
                    </div>
                    <div class="description">
                        For over 25 years, the SHARE Center has been providing food for the hungry, shelter for the
                        homeless, and support services for people struggling with addiction and/or mental health issues.
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui two buttons">
                        <a class="ui green button" href="https://sharecenterbc.org/" target="_blank"><i
                                class="globe icon"></i>Website</a>
                        <a class="ui blue button"><i class="heart icon"></i>Offer Help</a>
                    </div>
                </div>
            </div>
            <div class="ui card">
                <div class="image">
                    <img src="/assets/images/united-way.png">
                </div>
                <div class="ui content">

                    <div class="header">
                        United Way of the Battle Creek and Kalamazoo Region
                    </div>
                    <div class="meta">
                        We serve the people of Kalamazoo County and the greater Battle Creek community.
                    </div>
                    <div class="description">
                        United Way of the Battle Creek and Kalamazoo Region (UWBCKR) drives impact by leading shared
                        efforts that engage diverse people, ideas and resources.
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui two buttons">
                        <a class="ui green button" href="https://changethestory.org/" target="_blank"><i
                                class="globe icon"></i>Website</a>
                        <a class="ui blue button" href="https://changethestory.org/volunteer/" target="_blank"><i
                                class="heart icon"></i>Offer Help</a>
                    </div>
                </div>
            </div>
            <div class="ui card">
                <div class="ui small centered image">
                    <!--  if it is a vertical image, these classes must be set -->
                    <img src="/assets/images/bccfoundation-logo.png">
                </div>
                <div class="ui content">
                    <div class="header">
                        Battle Creek Community Foundation
                    </div>
                    <div class="meta">
                        For good. For ever. For all.
                    </div>
                    <div class="description">
                        The Battle Creek Community Foundation is a public foundation built by generous residents who
                        have donated their time, talent and treasure to make Battle Creek a better place to live. It was
                        founded in 1974 by Leonard White, Robert B. Miller, and Harry Davidson. Their goal was to create
                        a way for people of all means to be able to give back to their community.
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui two buttons">
                        <a class="ui green button" href="https://bccfoundation.org/" target="_blank"><i
                                class="globe icon"></i>Website</a>
                        <a class="ui blue button" href="https://bccfoundation.org/give/" target="_blank"><i
                                class="heart icon"></i>Offer Help</a>
                    </div>
                </div>
            </div>
            <div class="ui card">
                <div class="ui image">
                    <!--  if it is a vertical image, these classes must be set -->
                    <img src="/assets/images/community-action-logo.png">
                </div>
                <div class="ui content">
                    <div class="header">
                        Community Action
                    </div>
                    <div class="meta">
                        Dedicated to helping people achieve and maintain independence.
                    </div>
                    <div class="description">
                        <p>Community Action is one of 33 Community Action Agencies in the State of Michigan dedicated to
                            promoting economic and social opportunities that help people achieve greater independence,
                            dignity, and self-sufficiency. </p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui two buttons">
                        <a class="ui green button" href="https://www.caascm.org/index.html" target="_blank"><i
                                class="globe icon"></i>Website</a>
                        <a class="ui blue button" href="https://www.caascm.org/donations.html" target="_blank"><i
                                class="heart icon"></i>Offer Help</a>
                    </div>
                </div>
            </div>
            <div class="ui card">
                <div class="ui image">
                    <!--  if it is a vertical image, these classes must be set -->
                    <img src="/assets/images/charitable-union.png">
                </div>
                <div class="ui content">
                    <div class="header">
                        Charitable Union
                    </div>
                    <div class="meta">
                        The Journey Out Of Poverty Starts Here.
                    </div>
                    <div class="description">
                        <p>Founded in 1887, Charitable Union is a small, local non-profit organization that helps
                            provide clothes and bedding to children, families and veterans in Calhoun County, Michigan
                            area. Donations from local residents make it possible for us to help more than 11,000 people
                            throughout Calhoun County every year. </p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui two buttons">
                        <a class="ui green button" href="https://www.charitableunion.org/" target="_blank"><i
                                class="globe icon"></i>Website</a>
                        <a class="ui blue button" href="https://www.charitableunion.org/give/" target="_blank"><i
                                class="heart icon"></i>Offer Help</a>
                    </div>
                </div>
            </div>
            <div class="ui card">
                <div class="ui image">
                    <!--  if it is a vertical image, these classes must be set -->
                    <img src="/assets/images/bronson-logo.svg">
                </div>
                <div class="ui content">
                    <div class="header">
                        Bronson Sexual Assault Services
                    </div>
                    <div class="meta">
                        Help support their continued mission by making a donation or volunteering today.
                    </div>
                    <div class="description">
                        <p>Sexual Assault Services provides free services to sexual assault victims, their loved ones
                            and the community. All staffing and operating supplies are paid for by grants and community
                            donations.</p>
                        <p>Bronson is currently recruiting new volunteers! Contact them today at (269) 245-3906 to learn
                            more about the available opportunities. .</p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui two buttons">
                        <a class="ui green button"
                            href="https://www.bronsonhealth.com/locations/sexual-assault-services-of-calhoun-county/"
                            target="_blank"><i class="globe icon"></i>Website</a>
                        <a class="ui blue button"
                            href="https://www.bronsonhealth.com/volunteer/volunteer-at-sexual-assault-services/"
                            target="_blank"><i class="heart icon"></i>Offer Help</a>
                    </div>
                </div>
            </div>
            <div class="ui card">
                <div class="image">
                    <img src="/assets/images/wireframe/image-square.png">
                </div>
                <div class="content">
                    <div class="header">
                        Your Local Organization Here
                    </div>
                    <div class="meta">
                        More Help Awaits
                    </div>
                    <div class="description">
                        Register and list your organization here at no cost to you.
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui two buttons">
                        <div class="ui green button">Guidelines</div>
                        <div class="ui blue button">Register</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui horizontal divider">
            And/Or
        </div>

        <div class="ui container">
            <h2 class="ui header">
                Volunteer for Battle Creek's Networked.Community
            </h2>
        </div>

        <form class="ui form container segment" id="request-help-form">

            <p>
                Please fill out the form below to get connected with a Networked.Community volunteer, so they can
                onboard you to helping people and organizations in our area.
            </p>
            <p>
                <strong>The information that you enter is confidential</strong>, and will not be resold or redistributed
                for commercial
                purposes.
            </p>
            <div class="required field">
                <label>First Name</label>
                <input type="text" name="first-name" placeholder="First Name">
            </div>
            <div class="required field">
                <label>Last Name</label>
                <input type="text" name="last-name" placeholder="Last Name">
            </div>
            <div class="field">
                <label>Organization</label>
                <input type="text" name="organization-name" placeholder="The Organization you represent">
            </div>
            <div class="required field">
                <label>Phone Number</label>
                <input type="text" name="phone-number" placeholder="Phone Number">
            </div>
            <div class="required field">
                <label>Email Address</label>
                <input type="text" name="email-address" placeholder="Email Address">
            </div>
            <div class="required field">
                <label>What can you help us with? *</label>
                <textarea name="offer-help-reason"
                    placeholder="I can help add new resources to the guide..."></textarea>
            </div>

            <div class="required field">
                <div class="ui checkbox" data-children-count="1">
                    <input type="checkbox" name="agree-to-be-contacted">
                    <label>I agree to be contacted by a Networked.Community Volunteer</label>
                </div>
            </div>
            <button class="ui button" type="submit">Submit</button>
        </form>

        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">About</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Mission</a>
                            <a href="#" class="item">FAQ</a>
                            <a href="#" class="item">Code of Conduct</a>
                            <a href="#" class="item">Contact Us</a>
                            <a href="#" class="item">Privacy</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">For Organizations</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">List your Organization</a>
                            <a href="#" class="item">Listing Guidelines</a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">Part of Networked.Community</h4>
                        <p>If you would like to bring this system to your community, please <a
                                href="https://thecure.to/Selfishness" rel="nofollow">join us</a>.</p>
                        <p>We're happy to help!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/library/components/visibility.js"></script>
    <script src="/assets/library/components/sidebar.js"></script>
    <script src="/assets/library/components/transition.js"></script>
    <script src="/assets/library/components/popup.js"></script>
    <script src="/assets/library/components/calendar.js"></script>
</body>

</html>